@import "~@angular/cdk/overlay-prebuilt.css";

*,
::after,
::before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    position: relative;
}

body {
    background-color: #131d2d;
    color: #fff;
}
