
*, ::after, ::before {
    box-sizing: border-box;
}

:root {
    --odd-boder-color: #415571;
    --odd-boder-color-active: #ffaa00;
    --odd-boder-color-hover: #4b607c;
    --odd-boder-color-pressed: #415571;
    --odd-boder-color-disabled: transparent;
    --odd-background-color: #324157;
    --odd-background-color-active: #ffaa00;
    --odd-background-color-active-hover: #ffba1a;
    --odd-background-color-active-pressed: #f59700;
    --odd-background-color-hover: #3a4b64;
    --odd-background-color-pressed: #324157;
    --odd-background-color-disabled: rgba(25, 36, 52, .52);
    --odd-value-color: #ffba1a;
    --odd-value-color-active: #283548;
    --odd-value-color-disabled: #4b607c;
    --odd-value-color-active-disabled: #324157;
    --odd-title-color: #ebf2f9;
    --odd-title-color-active: #283548;
    --odd-title-color-disabled: #4b607c;
    --odd-title-color-active-disabled: #324157;
}
