:host {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  gap: 0.5rem;
  background-color: #212d3e;
  margin-bottom: 0.5rem;
  padding: 4px 12px 8px 8px;

  @media (min-width: 40em) {
    grid-auto-flow: column;
  }

  .flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .team-name {
    font-size: 0.875em;
    line-height: 1.28571429;
  }
}
