.v-button-toggle-group {
    display: inline-flex;
    gap: 0.5rem;
}

.v-base-button.v-button-toggle {
    &--checked {
        background-color: #ffaa00;
        border-color: #ffaa00;

        @media (hover: hover) {
            &:hover {
                background-color: #ffba1a;
            }
        }
    }
}
