:host {
    display: grid;
    grid-template-rows: minmax(0, 1fr) min-content;

    .aside-content-wrapper {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        .right {
            display: none;
        }

        .bottom {
            display: unset;
        }
    }

    @media screen and (min-width: 64em) {
        grid-template-columns: minmax(0, 1fr) 300px;
        column-gap: 18px;

        .aside-content-wrapper {
            all: unset;
            flex: 1;

            .right {
                display: unset;
            }

            .bottom {
                display: none;
            }
        }
    }
}
