:host {
    // position: relative;
    display: grid;

    @media screen and (min-width: 64em) {
        grid-template-columns: minmax(0, 1fr) 300px;
        column-gap: 18px;
    }

    .absolute {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 5;
    }
}
