.v-base-button {
    all: unset;
    cursor: pointer;
    background-color: #324157;
    border: 1px solid #415571;
    border-radius: 4px;
    min-height: 34px;
    text-align: center;
    display: inline-block;
    min-width: 64px;
    overflow: visible;    
    position: relative;

    & > .v-button-wrapper {
        padding: 0 8px;
        display: flex;
        align-items: center; 
        justify-content: center;
    }
}

